.jumbotron {
    background-color: crimson;
    color: white;
    border-radius: 0px;
    text-align: center;
}
.subtext{
    text-align: center;
    font-size: small;
    line-height: .5;
    
}
#prof {
    text-align: center;
    text-decoration: underline;
}


#labs {
    text-align: center;
    text-decoration: underline;
    position: relative;
    left: 15px;
}

#labsList {
    position: relative;
    top: 10px;
    left: 40px;
}

#exams {
    text-align: center;
    text-decoration: underline;
    position: relative;
    left: -65px;
}

#examsList {
    position: relative;
    top: 10px;
    left: -10px;
}

#pa {
    text-align: center;
    text-decoration: underline;
    position: relative;
    left: -150px;
}

#paList {
    position: relative;
    top: 10px;
    left: -90px;
}

#groupProj {
    text-align: left;
    text-decoration: underline;
    position: relative;
    left: 10px;
    top: 10px;
}

#groupList {
    position: relative;
    top: 20px;
    left: -30px;
}

body {
    font-family: Bookman, URW Bookman L, serif;
}

.toRight {

    float: right;
}

.toLeft {
    float: left;
}

.clear {

    clear: both;
}

.relativePosition {

    position: relative;
}

#professionalDevelopment ul{
    position: relative;
    top: auto;
    left: -20px; 
    
}
input{
    width: 60px;
}

#professionalDevelopment input{
   position:relative;

}

.outOf{
    font-size: 20px;
}